<template>
  <div id="app">
    <b-row>
      <b-col cols="1">
        <b-form-group
          label="ปี "
          label-for="per-page-select"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          class="float-right"
        ></b-form-group>
      </b-col>

      <b-col cols="2"
        ><b-form-select
          id="year"
          v-model="selectYear"
          :options="years"
          size="sm"
          width="10px"
          class="float-left"
          @change="groupByYear()"
        ></b-form-select>
      </b-col>
    </b-row>

    <b-card no-body class="overflow-hidden">
      <b-row no-gutters>
        <canvas id="graph" style="max-width: 1100px;"></canvas>
      </b-row>
    </b-card>
    <br />

    <b-container>
      <b-row>
        <h5>{{ month }}</h5>
      </b-row>
      <b-row>
        <b-col>
          <b-row>
            <b-col v-if="dashboardArr.length !== 0" @click="show('all')">
              <b-card-body body-bg-variant="secondary">
                <h6>แจ้งซ่อมทั้งหมด</h6>
                <h1 align="center">{{ all }}</h1>
                <h6 align="right">รายการ</h6>
              </b-card-body>
            </b-col>
            <b-col
              v-for="(data, index) in dashboardArr"
              :key="data.label"
              @click="show(data.label)"
            >
              <b-card-body :body-bg-variant="colorVariant[index]">
                <h6>{{ data.label }}</h6>
                <h1 align="center">{{ data.data }}</h1>
                <h6 align="right">รายการ</h6>
              </b-card-body>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
    <b-modal
      id="momal-form-repair"
      ref="momal-form-repair"
      :title="title"
      hide-footer
      size="xl"
    >
      <b-table
        sticky-header
        :items="modalsList"
        head-variant="light"
        :fields="fields"
        v-if="modalsList.length !== 0"
      >
        <template #cell(index)="data">
          {{ data.index + 1 }}
        </template>

        <template #cell(date_repair)="data">
          {{ moment(data.item.day).format('DD-MM-YYYY') }}
        </template>

        <template #cell(room)="data">
          {{ data.item.room.room }}
        </template>

        <template #cell(name)="data">
          {{ data.item.device.name }}
        </template>

        <template #cell(machine)="data">
          {{ data.item.mach }}
        </template>

        <template #cell(date)="data">
          {{ moment(data.item.change_day).format('DD-MM-YYYY') }}
        </template>

        <template #cell(status)="data">
          {{ data.item.status.name }}
        </template>
      </b-table>
      <b-row v-else class="justify-content-center">
        <h5>ไม่มีข้อมูล</h5>
      </b-row>

      <b-row class="justify-content-center">
        <b-button
          style="width: 150px;"
          class="mt-3"
          v-if="modalsList.length !== 0"
          variant="outline"
          block
          @click="exportPDF"
        >
          <img height="30" src="../assets/pdf.png" />
          Export .pdf
        </b-button>

        <b-button
          style="width: 150px;"
          v-if="modalsList.length !== 0"
          class="mt-3"
          variant="outline"
          block
          @click="onExport"
          ><img height="30" src="../assets/xlsx.png" />
          Export .xls
        </b-button>

        <b-button
          style="width: 120px;"
          class="mt-3"
          variant="outline"
          block
          @click="hideModal"
          ><h5 style="color: red">Close</h5>
        </b-button>
      </b-row>
    </b-modal>
  </div>
</template>

<script>
import Chart from 'chart.js'
import repairService from './Service/Repair'
import statusService from './Service/Status'
import moment from 'moment'
import XLSX from 'xlsx'
import JSPDF from 'jspdf'
import 'jspdf-autotable'
export default {
  components: {},
  mounted () {
    this.getRepair()
    this.getStatuses()
  },
  data () {
    return {
      title: '',
      pdfConfig: {
        typo: {
          header: 25,
          large: 20,
          normal: 18,
          small: 14
        },
        margin: {
          t: 20,
          b: 20,
          l: 20,
          r: 20
        }
      },
      repairNotiList: [],
      statusList: [],
      total: 1,
      now: new Date(),
      years: [2022, 2021, 2020, 2019],
      fields: [
        {
          key: 'index',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'date_repair',
          label: 'วันที่แจ้งซ่อม'
        },
        {
          key: 'room',
          label: 'ชั้น/ห้อง',
          sortable: true
        },
        {
          key: 'machine',
          label: 'เครื่องที่',
          sortable: true
        },
        {
          key: 'name',
          label: 'อุปกรณ์'
        },
        {
          key: 'staff_name',
          label: 'ผู้รับผิดชอบ',
          sortable: true
        },
        {
          key: 'date',
          label: 'วันที่'
        },
        {
          key: 'status',
          label: 'สถานะ'
        }
      ],
      modalsList: [],
      xlsx: [],
      pdf: [],
      colorVariant: ['light', 'warning', 'success', 'danger', 'info'],
      dashboardArr: [],
      all: 0,
      selectYear: moment().format('YYYY'),
      graphLabels: [
        '1',
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
        '8',
        '9',
        '10',
        '11',
        '12'
      ],
      graphData: [],
      moment: moment,
      month: '',
      indexMonth: 0
    }
  },
  methods: {
    onExport () {
      this.xlsx = this.modalsList.map(list => ({
        วันที่แจ้งซ่อม: moment(list.day).format('DD-MM-YYYY'),
        username: list.username,
        ผู้แจ้งซ่อม: list.user_name,
        ชั้น: list.class,
        ห้อง: list.room.room,
        เครื่อง: list.mach,
        ประเภทอุปกรณ์: list.type,
        อุปกรณ์: list.device.name,
        สาเหตุ: list.cause,
        วันที่ดำเนินการ: moment(list.change_day).format('DD-MM-YYYY'),
        สถานะ: list.status.name,
        ผู้รับผิดชอบ: list.staff_name
      }))
      const dataWS = XLSX.utils.json_to_sheet(this.xlsx)
      const wb = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, dataWS)
      XLSX.writeFile(wb, 'Equipment_Repair_Report.xlsx')
    },
    getNameMonth (number) {
      const month = [
        'มกราคม',
        'กุมภาพันธ์',
        'มีนาคม',
        'เมษายน',
        'พฤษภาคม',
        'มิถุนายน',
        'กรกฎาคม',
        'สิงหาคม',
        'กันยายน',
        'ตุลาคม',
        'พฤศจิกายน',
        'ธันวาคม'
      ]
      return month[number]
    },
    handle (point, event) {
      const item = event[0]
      this.month = this.getNameMonth(item._index)
      this.indexMonth = item._index
      const newData = this.repairNotiList.filter(
        data => data.day.substring(0, 4) === this.selectYear.toString()
      )
      const amountRepair = newData.filter(
        data => data.day.substring(5, 7) === this.getMonth(item._index + 1)
      )
      this.all = amountRepair.length
      this.dashboardArr = this.statusList.map(status => {
        return {
          label: status.name,
          data: amountRepair.filter(data => data.status._id === status._id)
            .length
        }
      })
      this.$emit('on-receive', {
        label: item._model.datasetLabel,
        time: item._model.label
      })
    },
    groupByYear () {
      const newData = this.repairNotiList.filter(
        data => data.day.substring(0, 4) === this.selectYear.toString()
      )
      const displayArr = []
      for (let i = 1; i <= 12; i++) {
        const amountRepair = newData.filter(
          data => data.day.substring(5, 7) === this.getMonth(i)
        )
        displayArr.push(amountRepair.length)
      }
      this.graphData = displayArr
      this.graph()
    },
    getMonth (number) {
      return number < 10 ? '0' + number : number.toString()
    },
    show (status) {
      if (status === 'all') {
        this.title = 'รายการแจ้งซ่อมทั้งหมด'
        this.modalsList = this.repairNotiList.filter(
          data =>
            data.day.substring(0, 4) === this.selectYear.toString() &&
            data.day.substring(5, 7) === this.getMonth(this.indexMonth + 1)
        )
      } else {
        this.title = 'รายการแจ้งซ่อม สถานะ " ' + status + ' "'
        const newData = this.repairNotiList.filter(
          data =>
            data.day.substring(0, 4) === this.selectYear.toString() &&
            data.day.substring(5, 7) === this.getMonth(this.indexMonth + 1) &&
            data.status.name === status
        )
        this.modalsList = newData
      }
      this.$bvModal.show('momal-form-repair')
    },
    hideModal () {
      this.$bvModal.hide('momal-form-repair')
    },
    graph () {
      var ctx = document.getElementById('graph').getContext('2d')
      var bar = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: this.graphLabels,
          datasets: [
            {
              label: '',
              data: this.graphData,
              backgroundColor: '#848484'
            }
          ]
        },
        options: {
          onClick: this.handle,
          legend: {
            display: false
          }
        }
      })
      console.log(bar)
    },
    getRepair () {
      repairService
        .getAll_from_DB()
        .then(res => {
          this.repairNotiList = res.data
          this.total = this.repairNotiList.length
          this.groupByYear()
        })
        .catch(err => {
          console.log(err)
        })
    },
    getStatuses () {
      statusService
        .getAll_from_DB()
        .then(res => {
          this.statusList = res.data
          this.totalRows = this.statusList.length
        })
        .catch(err => {
          console.log(err)
        })
    },
    exportPDF () {
      this.pdf = this.modalsList.map(list => ({
        date: moment(list.day).format('DD-MM-YYYY'),
        username: list.username,
        user: list.user_name,
        class: list.class,
        room: list.room.room,
        machine: list.mach,
        type: list.type,
        device: list.device.name,
        cause: list.cause,
        chang_Date: moment(list.change_day).format('DD-MM-YYYY'),
        status: list.status.name,
        staff: list.staff_name
      }))

      var vm = this
      var column = []
      if (this.title === 'รายการแจ้งซ่อมทั้งหมด') {
        column = [
          { title: 'วันที่แจ้งซ่อม', dataKey: 'date' },
          { title: 'Username', dataKey: 'username' },
          { title: 'ผู้แจ้งซ่อม', dataKey: 'user' },
          { title: 'ชั้น', dataKey: 'class' },
          { title: 'ห้อง', dataKey: 'room' },
          { title: 'เครื่อง', dataKey: 'machine' },
          { title: 'ประเภท', dataKey: 'type' },
          { title: 'อุปกรณ์', dataKey: 'device' },
          { title: 'ปัญหา', dataKey: 'cause' },
          { title: 'วันที่ดำเนินการ', dataKey: 'chang_Date' },
          { title: 'สถานะ', dataKey: 'status' },
          { title: 'ผู้รับผิดชอบ', dataKey: 'staff' }
        ]
      } else {
        column = [
          { title: 'วันที่แจ้งซ่อม', dataKey: 'date' },
          { title: 'Username', dataKey: 'username' },
          { title: 'ผู้แจ้งซ่อม', dataKey: 'user' },
          { title: 'ชั้น', dataKey: 'class' },
          { title: 'ห้อง', dataKey: 'room' },
          { title: 'เครื่อง', dataKey: 'machine' },
          { title: 'ประเภท', dataKey: 'type' },
          { title: 'อุปกรณ์', dataKey: 'device' },
          { title: 'ปัญหา', dataKey: 'cause' },
          { title: 'วันที่ดำเนินการ', dataKey: 'chang_Date' },
          { title: 'ผู้รับผิดชอบ', dataKey: 'staff' }
        ]
      }

      var doc = new JSPDF('l', 'pt')
      doc.setFont('Sarabun-Regular', 'normal')
      doc.setFontSize(this.pdfConfig.typo.large)
      doc.text(this.title, 40, 40)
      doc.autoTable(column, vm.pdf, {
        styles: {
          halign: 'center',
          overflow: 'linebreak',
          font: 'Sarabun-Regular',
          cellPadding: { top: 8, bottom: 8 },
          fontSize: 9
        },
        bodyStyles: { valign: 'top' },
        tableWidth: 780,
        startY: 50
      })
      doc.save('Table.pdf')
    }
  }
}
</script>
