<template>
  <div>
    <br />
    <b-container>
      <b-row>
        <b-col>
          <h4>การแจ้งซ่อม</h4>
        </b-col>
        <b-col align="right">
          <p>
            {{ account.name.gender }} {{ account.name.first }}
            {{ account.name.last }}
            <img src="../assets/user.png" width="30px" height="40px" />
          </p>
        </b-col>
      </b-row>
      <br />
    </b-container>
    <b-container fluid>
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-row class="mb-1">
          <b-col cols="1"></b-col>
          <b-col cols="2">
            <b-form-group label-align="right" label="ชั้น  :" label-for="class">
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :invalid-feedback="invalidFeedbackClass">
              <b-form-select
                id="class"
                v-model="form.class"
                :options="classes"
                :state="stateClass"
                @change="onClassChange"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col cols="4"></b-col>
        </b-row>
        <br />

        <b-row class="mb-1">
          <b-col cols="1"></b-col>
          <b-col cols="2">
            <b-form-group label-align="right" label="ห้อง  :" label-for="room">
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :invalid-feedback="invalidFeedbackRoom">
              <b-form-select
                id="room"
                v-model="form.room"
                :options="roomList"
                :state="stateRoom"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col cols="4"></b-col>
        </b-row>
        <br />

        <b-row class="mb-1">
          <b-col cols="1"></b-col>
          <b-col cols="2">
            <b-form-group
              label-align="right"
              label="เครื่อง  :"
              label-for="mach"
            >
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group>
              <b-form-checkbox
                id="mach"
                v-model="form.mach"
                name="checkbox-1"
                value="เครื่องอาจารย์"
                unchecked-value=""
              >
                เครื่องอาจารย์
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col cols="4"></b-col>
        </b-row>
        <b-row class="mb-1" id="machNo." v-if="form.mach !== 'เครื่องอาจารย์'">
          <b-col cols="1"></b-col>
          <b-col cols="2">
            <b-form-group
              label-align="right"
              label="เครื่องที่  :"
              label-for="machNo"
            >
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :invalid-feedback="invalidFeedbackMach">
              <b-form-input
                id="machNo"
                @change="onTypeChange"
                v-model="form.mach"
                :state="stateMach"
                required
              >
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="4"></b-col>
        </b-row>
        <br />

        <b-row class="mb-1">
          <b-col cols="1"></b-col>
          <b-col cols="2">
            <b-form-group
              label-align="right"
              label="ประเภทอุปกรณ์ :"
              label-for="type"
            >
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :invalid-feedback="invalidFeedbackType">
              <b-form-select
                id="type"
                v-model="form.type"
                :options="types"
                :state="stateType"
                @change="onTypeChange"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col cols="4"></b-col>
        </b-row>
        <br />

        <b-row class="mb-1">
          <b-col cols="1"></b-col>
          <b-col cols="2">
            <b-form-group
              label-align="right"
              label="อุปกรณ์  :"
              label-for="device"
            >
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :invalid-feedback="invalidFeedbackDevice">
              <b-form-select
                id="device"
                v-model="form.device"
                :options="devicesList"
                :state="stateDevice"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col cols="4"></b-col>
        </b-row>
        <br />

        <b-row class="mb-1">
          <b-col cols="1"></b-col>
          <b-col cols="2">
            <b-form-group
              label-align="right"
              label="ภาพประกอบ  :"
              label-for="img"
            >
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-file
              id="img"
              v-model="form.picture"
              class="mt-3"
              plain
            ></b-form-file>
          </b-col>
          <b-col cols="4"></b-col>
        </b-row>
        <br />

        <b-row class="mb-1">
          <b-col cols="1"></b-col>
          <b-col cols="2">
            <b-form-group
              label-align="right"
              label="อาการที่เสีย  :"
              label-for="cause"
            >
            </b-form-group>
          </b-col>
          <b-col cols="5">
            <b-form-group :invalid-feedback="invalidFeedbackCause">
              <b-form-textarea
                id="cause"
                v-model="form.cause"
                placeholder="อาการของเครื่อง..."
                :state="stateCause"
                rows="3"
                max-rows="6"
              ></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>
        <br />
        <b-row class="mb-1">
          <b-col cols="2"></b-col>
          <b-col cols="4" align="right"
            ><b-button @click="addRepair()" squared variant="danger"
              >แจ้งซ่อม</b-button
            ></b-col
          >
        </b-row>
        <br />

        <br />
      </form>
    </b-container>
  </div>
</template>

<script>
import repairService from './Service/Repair'
import deviceService from './Service/Devices'
import buildService from './Service/Building'
export default {
  data () {
    return {
      account: JSON.parse(localStorage.getItem('account')),
      form: {
        _id: '',
        username: JSON.parse(localStorage.getItem('account')).username,
        user_name:
          JSON.parse(localStorage.getItem('account')).name.gender +
          JSON.parse(localStorage.getItem('account')).name.first +
          ' ' +
          JSON.parse(localStorage.getItem('account')).name.last,
        class: null,
        room: null,
        type: null,
        mach: '',
        device: null,
        staff_name: '',
        status: '600f58042ff98b2098262a1e',
        picture: null,
        cause: ''
      },
      classes: [
        { text: 'กรุณาเลือก', value: null },
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11
      ],
      types: [
        { text: 'กรุณาเลือก', value: null },
        'อุปกรณ์นำเสนอ',
        'อุปกรณ์คอมพิวเตอร์',
        'อุปกรณ์เครื่องเสียง'
      ],
      roomList: [{ text: 'กรุณาเลือก', value: null }],
      allRooms: [],
      devicesList: [],
      allTypes: []
    }
  },
  methods: {
    addRepair () {
      delete this.form._id
      if (this.form.picture !== null) {
        this.form.picture = this.form.picture.name
      }
      this.form.mach = this.form.mach.toUpperCase()
      if (
        this.stateClass === false ||
        this.stateRoom === false ||
        this.stateMach === false ||
        this.stateType === false ||
        this.stateDevice === false ||
        this.stateCause === false
      ) {
        return
      }
      repairService.addNew_to_DB(this.form)
        .then(res => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
      this.showMsgBoxTwo()
    },
    getDevices () {
      deviceService.getAll_from_DB()
        .then(res => {
          this.allTypes = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getRoom () {
      buildService.getAll_from_DB()
        .then(res => {
          this.allRooms = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    onClassChange () {
      const rooms = this.allRooms.filter(room => room.class === this.form.class)
      this.roomList = rooms.map(room => ({
        text: room.room,
        value: room._id
      }))
    },
    onTypeChange () {
      if (this.form.mach === 'เครื่องอาจารย์') {
        const types = this.allTypes.filter(type => type.type === this.form.type)
        this.devicesList = types.map(type => ({
          text: type.name,
          value: type._id
        }))
      } else {
        const types = this.allTypes.filter(
          type => type.type === this.form.type && type.checked[1] === 'study'
        )
        this.devicesList = types.map(type => ({
          text: type.name,
          value: type._id
        }))
      }
    },
    showMsgBoxTwo () {
      this.$bvModal
        .msgBoxOk('แจ้งซ่อมสำเร็จ', {
          title: 'ยืนยันการแจ้งซ่อมสำเร็จ',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'success',
          okTitle: 'ตกลง',
          headerClass: 'p-2 border-bottom-0',
          footerClass: 'p-2 border-top-0',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          this.resetForm()
        })
        .catch(err => {
          console.log(err)
        })
    },
    resetForm () {
      this.form = {
        _id: '',
        username: JSON.parse(localStorage.getItem('account')).username,
        user_name:
          JSON.parse(localStorage.getItem('account')).name.gender +
          JSON.parse(localStorage.getItem('account')).name.first +
          ' ' +
          JSON.parse(localStorage.getItem('account')).name.last,
        day: '',
        class: null,
        room: null,
        type: null,
        mach: '',
        device: null,
        staff_name: '',
        status: 'แจ้งซ่อม',
        change_day: '',
        picture: null,
        cause: ''
      }
    }
  },
  computed: {
    stateClass () {
      return this.form.class !== null
    },
    invalidFeedbackClass () {
      if (this.form.class != null) {
        return ''
      } else {
        return ''
      }
    },
    stateRoom () {
      return this.form.room !== null
    },
    invalidFeedbackRoom () {
      if (this.form.room != null) {
        return ''
      } else {
        return ''
      }
    },
    stateMach () {
      return this.form.mach !== ''
    },
    invalidFeedbackMach () {
      if (this.form.mach !== '') {
        return ''
      } else {
        return ''
      }
    },
    stateType () {
      return this.form.type !== null
    },
    invalidFeedbackType () {
      if (this.form.type !== null) {
        return ''
      } else {
        return ''
      }
    },
    stateDevice () {
      return this.form.device !== null
    },
    invalidFeedbackDevice () {
      if (this.form.device !== null) {
        return ''
      } else {
        return ''
      }
    },
    stateCause () {
      return this.form.cause.length >= 3
    },
    invalidFeedbackCause () {
      if (this.form.cause.length >= 3) {
        return ''
      } else {
        return ''
      }
    }
  },
  mounted () {
    this.getRoom()
    this.getDevices()
  }
}
</script>
