<template>
  <div>
    <br />
    <b-container>
      <b-row>
        <b-col>
          <h4>รายการแจ้งซ่อมที่กำลังดำเนินการอยู่</h4>
        </b-col>
        <b-col align="right">
          <p>
            {{ account.name.gender }} {{ account.name.first }}
            {{ account.name.last }}
            <img src="../assets/user.png" width="30px" height="40px" />
          </p>
        </b-col>
      </b-row>
      <br />
    </b-container>

    <b-modal
      id="momal-form-repair"
      ref="momal-form-repair"
      size="mb"
      :title="title"
      ok-only
    >
      <b-container fluid>
        <form ref="form">
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="วันที่แจ้งซ่อม" label-for="date">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="date" v-model="form.day" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="ชั้น / ห้อง" label-for="room">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="romm" v-model="form.room.room" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="3"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="เครื่องที่" label-for="machine">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="machine" v-model="form.mach" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="3"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="อุปกรณ์" label-for="device_name">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input
                id="device_name"
                v-model="form.device.name"
                readonly
              >
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="อาการ" label-for="cause"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-textarea id="cause" v-model="form.cause" readonly>
              </b-form-textarea>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="ภาพประกอบ" label-for="picture">
              </b-form-group>
            </b-col>
            <b-col>
              <img
                style="width: 200px; height: 180px;"
                :src="'http://localhost:3000/images/' + form.picture"
              />
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="สถานะ" label-for="state"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="state" v-model="form.status.name" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3"> </b-col>
            <b-col>
              <b-form-input id="change_day" v-model="form.change_day" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="ผู้รับผิดชอบ" label-for="staff_name">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="staff_name" v-model="form.staff_name" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
        </form>
      </b-container>
    </b-modal>

    <b-container>
      <b-row>
        <b-col>
          <b-input-group style="width: 50%" class="float-right" size="sm">
            <b-input-group-prepend is-text>
              <b-icon icon="search"></b-icon>
            </b-input-group-prepend>
            <b-form-input
              v-model="filter"
              placeholder="ค้นหา ..."
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="1">
          <b-form-group
            label="แสดง"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="float-right"
          ></b-form-group>
        </b-col>
        <b-col cols="2"
          ><b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
            class="float-left"
          ></b-form-select>
        </b-col>
        <b-col cols="3">
          <b-form-group
            label="รายการต่อหน้า"
            label-for="per-page-select"
            class="float-left"
          ></b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-table
          class="text-center"
          outlined
          head-variant="dark"
          :items="repairNotiList"
          :fields="fields"
          :filter="filter"
          :current-page="currentPage"
          :per-page="perPage"
          stacked="md"
          show-empty
          small
        >
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>

          <template #cell(date_repair)="data">
            {{ moment(data.item.day).format('DD-MM-YYYY') }}
          </template>

          <template #cell(room)="data">
            {{ data.item.room.room }}
          </template>

          <template #cell(name)="data">
            {{ data.item.device.name }}
          </template>

          <template #cell(machine)="data">
            {{ data.item.mach }}
          </template>

          <template #cell(date)="data">
            {{ moment(data.item.change_day).format('DD-MM-YYYY') }}
          </template>

          <template #cell(status)="data">
            {{ data.item.status.name }}
          </template>

          <template v-slot:cell(cancle)="data">
            <b-button variant="outline" @click="cancleRepair(data.item)">
              <img
                width="20"
                alt="cancle button"
                src="../assets/cancle icon.png"
              />
            </b-button>
          </template>

          <template v-slot:cell(cause)="data">
            <b-button
              variant="link"
              @click="showDetail(data.item)"
              size="sm"
            >
              รายละเอียด
            </b-button>
          </template>
        </b-table>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col cols="9"> </b-col>
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import buildService from './Service/Building'
import repairService from './Service/Repair'
import moment from 'moment'
export default {
  data () {
    return {
      account: JSON.parse(localStorage.getItem('account')),
      index: 0,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      filter: null,
      pageOptions: [10, 15, 20, 30, 50, { value: 100, text: 'ทั้งหมด' }],
      title: 'รายละเอียด',
      moment: moment,
      form: {
        _id: '',
        user_name: '',
        day: '',
        room: '',
        math: '',
        device: '',
        staff_name: '',
        status: '',
        change_day: '',
        picture: '',
        cause: ''
      },
      // Note 'isActive' is left out and will not appear in the rendered table
      fields: [
        {
          key: 'index',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'date_repair',
          label: 'วันที่แจ้งซ่อม'
        },
        {
          key: 'room',
          label: 'ชั้น/ห้อง',
          sortable: true
        },
        {
          key: 'machine',
          label: 'เครื่องที่',
          sortable: true
        },
        {
          key: 'name',
          label: 'อุปกรณ์'
        },
        {
          key: 'staff_name',
          label: 'ผู้รับผิดชอบ',
          sortable: true
        },
        {
          key: 'date',
          label: 'วันที่'
        },
        {
          key: 'status',
          label: 'สถานะ'
        },
        {
          key: 'cancle',
          label: 'ยกเลิก'
        },
        {
          key: 'cause',
          label: 'หมายเหตุ'
        }
      ],
      repairNotiList: [],
      statusList: [],
      allRooms: []
    }
  },
  methods: {
    getRepair () {
      repairService.getAll_from_DB()
        .then(res => {
          this.repairNotiList = res.data
          this.repairNotiList = this.repairNotiList.filter(
            repairUse =>
              (repairUse.status._id === '6010890d95dd1d25a0cf24f0' ||
                repairUse.status._id === '600f58042ff98b2098262a1e') &&
              repairUse.username === this.account.username
          )
          this.totalRows = this.repairNotiList.length
        })
        .catch(err => {
          console.log(err)
        })
    },
    cancleRepair (repair) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการยกเลิกการแจ้งซ่อมอุปกรณ์  ' +
            repair.device.name +
            ' ที่ห้อง ' +
            repair.room.room +
            '  ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'lg',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            repair.status = '60190a95acd1253814a5963e'
            repairService.changeState_to_DB(repair)
              .then(res => {
                this.getRepair()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    getRoom () {
      buildService.getAll_from_DB()
        .then(res => {
          this.allRooms = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    showDetail (Noti) {
      this.form = { ...Noti }
      this.$bvModal.show('momal-form-repair')
    }
  },
  mounted () {
    this.getRepair()
  }
}
</script>
