<template>
  <div class="login">
    <br /><br /><br /><br />
    <b-card-group center class="card">
      <b-card border-variant="dark" header-tag="header" align="center">
        <template #header>
          <h2 class="mb-0">Sign In</h2>
        </template>
        <br />
        <b-card-text align="left"
          ><b-form-group label="Username :" label-for="username" class="mb-0">
            <b-form-input
              id="username"
              v-model="form.username"
              placeholder="Enter your username"
              type="text"
            ></b-form-input>
          </b-form-group>
          <br />
          <b-form-group label="Password :" label-for="password" class="mb-0">
            <b-form-input
              id="password"
              v-model="form.password"
              placeholder="Enter your password"
              type="password"
            ></b-form-input> </b-form-group
        ></b-card-text>
        <br />
        <button
          type="button"
          @click="login()"
          class="btn btn-dark btn-lg btn-block"
        >
          Sign In
        </button>
        <br />
      </b-card>
    </b-card-group>
  </div>
</template>
<style>
.login {
  background-size: 100%;
  background-color: darkgray;
  height: 140%;
}
.card {
  margin: auto;
  align-content: center;
  box-sizing: border-box;
  width: 30rem;
}
</style>
<script>
import loginService from './Service/Login'
export default {
  data () {
    return {
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    async login () {
      const account = await loginService.login({
        username: this.form.username,
        password: this.form.password
      })
      console.log(account)
      if (account.result) {
        if (account.user.Person_type === 'staff') {
          window.location.href = '/notification'
        } else if (account.user.Person_type === 'admin') {
          window.location.href = '/Home'
        } else if (account.user.Person_type === 'informer') {
          window.location.href = '/repair'
        }
      }
    }
  }
}
</script>
