<template>
  <div>
    <br />
    <b-container>
      <b-row>
        <b-col>
          <h4>รายการอาคาร / ห้อง</h4>
        </b-col>
        <b-col>
          <b-button
            style="width: 120px;height:40px"
            class="float-right"
            variant="primary"
            @click="addNewBuild()"
          >
            <img
              height="30"
              alt="add button"
              class="float-left"
              src="../assets/add icon.png"
            />
            เพิ่ม
          </b-button>
        </b-col>
      </b-row>
    </b-container>

    <b-modal
      id="modal-form-build"
      ref="modal-form-build"
      size="mb"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-container fluid>
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-row class="mb-1">
            <b-col cols="4"
              ><b-form-group label="ชั้น" label-for="class"></b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackClass">
                <b-form-select
                  id="class"
                  v-model="form.class"
                  :options="classes"
                  :state="stateClass"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="ห้อง" label-for="room"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackRoom">
                <b-form-input
                  id="room"
                  v-model="form.room"
                  :state="stateRoom"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="อุปกรณ์"> </b-form-group>
            </b-col>
            <b-col align="left">
              <b-form-group v-slot="{ ariaDescribedby }">
                <b-form-checkbox-group
                  v-model="form.checked"
                  id="checkboxes-4"
                  :aria-describedby="ariaDescribedby"
                >
                  <br />
                  <b-form-checkbox value="อุปกรณ์คอมพิวเตอร์"
                    >อุปกรณ์คอมพิวเตอร์</b-form-checkbox
                  ><br /><br />
                  <b-form-checkbox value="อุปกรณ์เครื่องเสียง"
                    >อุปกรณ์เครื่องเสียง</b-form-checkbox
                  ><br /><br />
                  <b-form-checkbox value="อุปกรณ์นำเสนอ"
                    >อุปกรณ์นำเสนอ</b-form-checkbox
                  >
                  <br />
                </b-form-checkbox-group>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="เครื่องในห้อง"> </b-form-group>
            </b-col>
            <b-col align="left">
              <b-form-group v-slot="{ ariaDescribedby }">
                <b-form-checkbox-group
                  v-model="form.mach"
                  id="checkboxes-4"
                  :aria-describedby="ariaDescribedby"
                >
                  <br />
                  <b-form-checkbox value="taught">เครื่องผู้สอน</b-form-checkbox
                  ><br /><br />
                  <b-form-checkbox value="study"
                    >เครื่องผู้เรียน</b-form-checkbox
                  >
                  <br />
                </b-form-checkbox-group>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
        </form>
      </b-container>
    </b-modal>

    <b-container>
      <br />
      <b-row>
        <b-col>
          <b-input-group style="width: 50%" class="float-right" size="sm">
            <b-input-group-prepend is-text>
              <b-icon icon="search"></b-icon>
            </b-input-group-prepend>
            <b-form-input
              v-model="filter"
              placeholder="ค้นหา ... ชั้น / ห้อง"
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="1">
          <b-form-group
            label="แสดง"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="float-right"
          ></b-form-group>
        </b-col>

        <b-col cols="2"
          ><b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
            class="float-left"
          ></b-form-select>
        </b-col>
        <b-col cols="3">
          <b-form-group
            label="รายการต่อหน้า"
            label-for="per-page-select"
            class="float-left"
          ></b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-table
          class="text-center"
          outlined
          head-variant="dark"
          :items="buildList"
          :fields="fields"
          :filter="filter"
          :current-page="currentPage"
          :per-page="perPage"
          stacked="md"
          show-empty
          small
        >
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>

          <template v-slot:cell(class)="data">
            {{ data.item.class }}
          </template>

          <template v-slot:cell(room)="data">
            {{ data.item.room }}
          </template>

          <template v-slot:cell(edit)="data">
            <b-button
              variant="outline"
              @click="editBuild(data.item)"
              v-if="data.item.usability !== 'cancel'"
            >
              <img width="20" alt="edit button" src="../assets/editor-icon.png"
            /></b-button>
          </template>

          <template v-slot:cell(cancle)="data">
            <b-button
              variant="outline"
              @click="cancleBuild(data.item)"
              v-if="data.item.usability !== 'cancel'"
            >
              <img
                width="20"
                alt="cancle button"
                src="../assets/cancle icon.png"
              />
            </b-button>

            <b-button
              variant="outline"
              @click="reclaimBuild(data.item)"
              v-if="data.item.usability === 'cancel'"
            >
              <img width="20" alt="reclaim button" src="../assets/icon.png" />
            </b-button>
          </template>
        </b-table>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col cols="9"> </b-col>
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import buildService from './Service/Building'
export default {
  data () {
    return {
      index: 0,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      filter: null,
      pageOptions: [10, 15, 20, 30, 50, { value: 100, text: 'ทั้งหมด' }],
      title: 'เพิ่มข้อมูลอาคาร / ห้อง',
      form: {
        _id: '',
        room: '',
        class: null,
        checked: [],
        mach: [],
        usability: 'use'
      },
      classes: [
        { text: 'กรุณาเลือก', value: null },
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11
      ],
      // Note 'isActive' is left out and will not appear in the rendered table
      fields: [
        {
          key: 'index',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'class',
          label: 'ชั้น',
          sortable: true
        },
        {
          key: 'room',
          label: 'ห้อง',
          sortable: true
        },
        {
          key: 'edit',
          label: 'แก้ไข'
        },
        {
          key: 'cancle',
          label: 'ยกเลิก'
        }
      ],
      buildList: []
    }
  },
  methods: {
    addNewBuild () {
      console.log('Add New Build')
      this.$bvModal.show('modal-form-build')
    },
    editBuild (build) {
      this.title = 'แก้ไขข้อมูลอาคาร / ห้อง'
      this.form = { ...build }
      this.$bvModal.show('modal-form-build')
    },
    cancleBuild (build) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการยกเลิกสิทธ์การใช้ห้อง  ' + build.room + '  ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'mb',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            build.usability = 'cancel'
            buildService
              .changeState_to_DB(build)
              .then(res => {
                this.getBuilding()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    reclaimBuild (build) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการเรียกคืนสิทธิ์การใช้ห้อง  ' +
            build.room +
            '  ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'mb',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            build.usability = 'use'
            buildService
              .changeState_to_DB(build)
              .then(res => {
                this.getBuilding()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    getBuilding () {
      // this.staffList = staffService.getStaffs()
      buildService
        .getAll_from_DB()
        .then(res => {
          console.log(res)
          this.buildList = res.data
          this.buildList = this.buildList.sort((a, b) =>
            a.usability < b.usability ? 1 : -1
          )
          this.totalRows = this.buildList.length
        })
        .catch(err => {
          console.log(err)
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        room: '',
        class: null,
        checked: [],
        mach: [],
        usability: 'use'
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validation
      if (this.stateClass === false || this.stateRoom === false) {
        return
      }

      // Do when pass validation
      if (this.form._id !== '') {
        buildService
          .updateBuild_to_DB(this.form)
          .then(res => {
            console.log(res)
            this.getBuilding()
          })
          .catch(err => {
            console.log(err)
          })
        this.getBuilding()
      } else {
        delete this.form._id
        this.form.usability = 'use'
        buildService
          .addNew_to_DB(this.form)
          .then(res => {
            console.log(res)
            this.getBuilding()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-build')
      })
    }
  },
  computed: {
    stateClass () {
      return this.form.class !== null
    },
    invalidFeedbackClass () {
      if (this.form.class != null) {
        return ''
      } else {
        return ''
      }
    },
    stateRoom () {
      return this.form.room.length >= 3
    },
    invalidFeedbackRoom () {
      if (this.form.room.length > 3) {
        return ''
      } else if (this.form.room.length > 0) {
        return 'กรุณากรอก ชื่อห้อง อย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ตัวอย่าง IF-3C01'
      }
    }
  },
  mounted () {
    this.getBuilding()
  }
}
</script>
