<template>
  <div>
    <br />
    <b-container>
      <b-row>
        <b-col>
          <h4>รายการอุปกรณ์</h4>
        </b-col>
        <b-col>
          <b-button
            style="width: 120px;height:40px"
            class="float-right"
            variant="primary"
            @click="addNewDevices()"
          >
            <img
              height="30"
              alt="add button"
              class="float-left"
              src="../assets/add icon.png"
            />
            เพิ่ม
          </b-button>
        </b-col>
      </b-row>
      <br />
    </b-container>

    <b-modal
      id="modal-form-devices"
      ref="modal-form-devices"
      size="mb"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-container fluid>
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="ชื่ออุปกรณ์" label-for="name">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackName">
                <b-form-input
                  id="name"
                  v-model="form.name"
                  :state="stateName"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4"
              ><b-form-group
                label="ประเภทอุปกรณ์"
                label-for="type"
              ></b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackType">
                <b-form-select
                  v-model="form.type"
                  :options="types"
                  :state="stateType"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col align="center">
              <b-form-group
                v-slot="{ ariaDescribedby }"
                :invalid-feedback="invalidFeedbackCheck"
              >
                <b-form-checkbox-group
                  v-model="form.checked"
                  id="checkboxes-4"
                  :aria-describedby="ariaDescribedby"
                  :state="stateCheck"
                >
                  <b-form-checkbox value="taught">เครื่องผู้สอน</b-form-checkbox
                  ><br /><br />
                  <b-form-checkbox value="study"
                    >เครื่องผู้เรียน</b-form-checkbox
                  >
                </b-form-checkbox-group>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
        </form>
      </b-container>
    </b-modal>

    <b-container>
      <b-row>
        <b-col>
          <b-input-group style="width: 50%" class="float-right" size="sm">
            <b-input-group-prepend is-text>
              <b-icon icon="search"></b-icon>
            </b-input-group-prepend>
            <b-form-input
              v-model="filter"
              placeholder="ค้นหา ..."
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="1">
          <b-form-group
            label="แสดง"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="float-right"
          ></b-form-group>
        </b-col>
        <b-col cols="2"
          ><b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
            class="float-left"
          ></b-form-select>
        </b-col>
        <b-col cols="3">
          <b-form-group
            label="รายการต่อหน้า"
            label-for="per-page-select"
            class="float-left"
          ></b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-table
          class="text-center"
          outlined
          head-variant="dark"
          :items="devicesList"
          :fields="fields"
          :filter="filter"
          :current-page="currentPage"
          :per-page="perPage"
          stacked="md"
          show-empty
          small
        >
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>

          <template #cell(name)="data">
            <div class="text-left">{{ data.item.name }}</div>
          </template>

          <template #cell(type)="data">
            {{ data.item.type }}
          </template>

          <template v-slot:cell(edit)="data">
            <b-button
              variant="outline"
              @click="editDevices(data.item)"
              v-if="data.item.usability !== 'cancel'"
            >
              <img width="20" alt="edit button" src="../assets/editor-icon.png"
            /></b-button>
          </template>

          <template v-slot:cell(cancle)="data">
            <b-button
              variant="outline"
              @click="cancleDevices(data.item)"
              v-if="data.item.usability !== 'cancel'"
            >
              <img
                width="20"
                alt="cancle button"
                src="../assets/cancle icon.png"
              />
            </b-button>
            <b-button
              variant="outline"
              @click="reclaimDevices(data.item)"
              v-if="data.item.usability === 'cancel'"
            >
              <img width="20" alt="cancle button" src="../assets/icon.png" />
            </b-button>
          </template>
        </b-table>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col cols="9"> </b-col>
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import deviveService from './Service/Devices'
export default {
  data () {
    return {
      index: 0,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      filter: null,
      pageOptions: [10, 15, 20, 30, 50, { value: 100, text: 'ทั้งหมด' }],
      title: 'เพิ่มข้อมูลอุปกรณ์',
      form: {
        _id: '',
        name: '',
        type: null,
        checked: [null],
        usability: 'use'
      },
      types: [
        { text: 'กรุณาเลือก', value: null },
        'อุปกรณ์นำเสนอ',
        'อุปกรณ์คอมพิวเตอร์',
        'อุปกรณ์เครื่องเสียง'
      ],
      // Note 'isActive' is left out and will not appear in the rendered table
      fields: [
        {
          key: 'index',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'name',
          label: 'อุปกรณ์'
        },
        {
          key: 'type',
          label: 'ประเภทอุปกรณ์'
        },
        {
          key: 'edit',
          label: 'แก้ไข'
        },
        {
          key: 'cancle',
          label: 'ยกเลิก'
        }
      ],
      devicesList: []
    }
  },
  methods: {
    addNewDevices () {
      console.log('Add New Devices')
      this.$bvModal.show('modal-form-devices')
    },
    editDevices (devices) {
      this.title = 'แก้ไขข้อมูลอุปกรณ์'
      this.form = { ...devices }
      this.$bvModal.show('modal-form-devices')
    },
    cancleDevices (devices) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการยกเลิกสิทธิ์การใช้ อุปกรณ์' +
            devices.name +
            '  ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'mb',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            devices.usability = 'cancel'
            deviveService
              .changeState_to_DB(devices)
              .then(res => {
                this.getDevices()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    reclaimDevices (devices) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการเรียกคืนสิทธิ์การใช้ อุปกรณ์' +
            devices.name +
            '  ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'mb',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            devices.usability = 'use'
            deviveService
              .changeState_to_DB(devices)
              .then(res => {
                this.getDevices()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    getDevices () {
      deviveService
        .getAll_from_DB()
        .then(res => {
          this.devicesList = res.data
          this.devicesList = this.devicesList.sort((a, b) =>
            a.usability < b.usability ? 1 : -1
          )
          this.totalRows = this.devicesList.length
        })
        .catch(err => {
          console.log(err)
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        type: null,
        checked: [],
        usability: 'use'
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validation
      if (this.stateName === false || this.stateType === false) {
        return
      }

      // Do when pass validation
      if (this.form._id !== '') {
        deviveService
          .updatedevice_to_DB(this.form)
          .then(res => {
            console.log(res)
            this.getDevices()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        this.form.usability = 'use'
        deviveService
          .addNew_to_DB(this.form)
          .then(res => {
            console.log(res)
            this.getDevices()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-devices')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else {
        return ''
      }
    },
    stateType () {
      return this.form.type !== null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return ''
      }
    }
  },
  mounted () {
    this.getDevices()
  }
}
</script>
