<template>
  <div>
    <br />
    <b-container>
      <b-row>
        <b-col>
          <h4>รายการสถานะ</h4>
        </b-col>
        <b-col>
          <b-button
            style="width: 120px;height:40px"
            class="float-right"
            variant="primary"
            @click="addNewStatus()"
          >
            <img
              height="30"
              alt="add button"
              class="float-left"
              src="../assets/add icon.png"
            />
            เพิ่ม
          </b-button>
        </b-col>
      </b-row>
    </b-container>

    <b-modal
      id="modal-form-status"
      ref="modal-form-status"
      size="mb"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <br />
      <b-container fluid>
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-row class="mb-1">
            <b-col cols="3">
              <b-form-group label="สถานะ" label-for="status"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackName">
                <b-form-input
                  id="status"
                  v-model="form.name"
                  :state="stateName"
                  required
                >
                </b-form-input>
              </b-form-group>
              <br />
            </b-col>
          </b-row>
          <br />
        </form>
      </b-container>
    </b-modal>

    <b-container>
      <br />
      <b-row>
        <b-col>
          <b-input-group style="width: 50%" class="float-right" size="sm">
            <b-input-group-prepend is-text>
              <b-icon icon="search"></b-icon>
            </b-input-group-prepend>
            <b-form-input
              v-model="filter"
              placeholder="ค้นหา ...สถานะ"
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="1">
          <b-form-group
            label="แสดง"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="float-right"
          ></b-form-group>
        </b-col>

        <b-col cols="2"
          ><b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
            class="float-left"
          ></b-form-select>
        </b-col>
        <b-col cols="3">
          <b-form-group
            label="รายการต่อหน้า"
            label-for="per-page-select"
            class="float-left"
          ></b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-table
          class="text-center"
          outlined
          head-variant="dark"
          :items="statusList"
          :fields="fields"
          :filter="filter"
          :current-page="currentPage"
          :per-page="perPage"
          stacked="md"
          show-empty
          small
        >
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>

          <template #cell(name)="data">
            <div class="text-left">{{ data.item.name }}</div>
          </template>

          <template v-slot:cell(edit)="data">
            <b-button
              variant="outline"
              @click="editStatus(data.item)"
              v-if="data.item.usability !== 'cancel'"
            >
              <img
                width="20"
                alt="edit button"
                src="../assets/editor-icon.png"
              />
            </b-button>
          </template>

          <template v-slot:cell(cancle)="data">
            <b-button
              variant="outline"
              @click="cancleStatus(data.item)"
              v-if="data.item.usability !== 'cancel'"
            >
              <img
                width="20"
                alt="cancle button"
                src="../assets/cancle icon.png"
              />
            </b-button>

            <b-button
              variant="outline"
              @click="reclaimStatus(data.item)"
              v-if="data.item.usability === 'cancel'"
            >
              <img width="20" alt="reclaim button" src="../assets/icon.png" />
            </b-button>
          </template>
        </b-table>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col cols="9"> </b-col>
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import statusService from './Service/Status'
export default {
  data () {
    return {
      index: 0,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      filter: null,
      pageOptions: [10, 15, 20, 30, 50, { value: 100, text: 'ทั้งหมด' }],
      title: 'เพิ่มข้อมูลสถานะ',
      form: {
        _id: '',
        name: '',
        usability: 'use'
      },
      fields: [
        {
          key: 'index',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'name',
          label: 'สถานะ'
        },
        {
          key: 'edit',
          label: 'แก้ไข'
        },
        {
          key: 'cancle',
          label: 'ยกเลิก'
        }
      ],
      statusList: []
    }
  },
  methods: {
    addNewStatus () {
      console.log('Add New Status')
      this.$bvModal.show('modal-form-status')
    },
    editStatus (status) {
      this.title = 'แก้ไขข้อมูลสถานะ'
      this.form = { ...status }
      this.$bvModal.show('modal-form-status')
    },
    cancleStatus (status) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการยกเลิกสิทธิ์การใช้สถานะ   "' +
            status.name +
            '"   ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'mb',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            status.usability = 'cancel'
            statusService
              .changeState_to_DB(status)
              .then(res => {
                this.getStatuses()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    reclaimStatus (status) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการเรียกคืนสิทธิ์การใช้สถานะ   "' +
            status.name +
            '"   ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'mb',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            status.usability = 'use'
            statusService
              .changeState_to_DB(status)
              .then(res => {
                this.getStatuses()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    getStatuses () {
      statusService
        .getAll_from_DB()
        .then(res => {
          console.log(res)
          this.statusList = res.data
          this.statusList = this.statusList.sort((a, b) =>
            a.usability < b.usability ? 1 : -1
          )
          this.totalRows = this.statusList.length
        })
        .catch(err => {
          console.log(err)
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        status: '',
        usability: 'use'
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validation
      if (this.stateName === false) {
        return
      }

      // Do when pass validation
      if (this.form._id !== '') {
        statusService.updateStatus_to_DB(this.form)
          .then(res => {
            console.log(res)
            this.getStatuses()
          })
          .catch(err => {
            console.log(err)
          })
        this.getStatuses()
      } else {
        delete this.form._id
        this.form.usability = 'use'
        statusService.addNew_to_DB(this.form)
          .then(res => {
            console.log(res)
            this.getStatuses()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-status')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'กรุณากรอก ชื่อสถานะ อย่างน้อย 2 ตัวอักษร'
      } else {
        return ''
      }
    }
  },
  mounted () {
    this.getStatuses()
    // Set the initial number of items
  }
}
</script>
