<template>
  <div>
    <br />
    <b-container>
      <b-row>
        <b-col>
          <h4>รายการเจ้าหน้าที่</h4>
        </b-col>
        <b-col>
          <b-button
            style="width: 120px; height:40px"
            class="float-right"
            variant="primary"
            @click="addNewStaff()"
          >
            <img
              height="30"
              alt="add button"
              class="float-left"
              src="../assets/add icon.png"
            />
            เพิ่ม
          </b-button>
        </b-col>
      </b-row>
    </b-container>

    <b-modal
      id="modal-form-staff"
      ref="modal-form-staff"
      size="mb"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-container fluid>
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="Username" label-for="username">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackUsername">
                <b-form-input
                  id="username"
                  v-model="form.username"
                  :state="stateUsername"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="password" label-for="password">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackPassword">
                <b-form-input
                  id="password"
                  type="password"
                  v-model="form.password"
                  :state="statePassword"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4"
              ><b-form-group
                label="คำนำหน้าชื่อ"
                label-for="gender"
              ></b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackGender">
                <b-form-select
                  v-model="form.name.gender"
                  :options="genderOptions"
                  :state="stateGender"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="ชื่อ" label-for="first"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackFirstname">
                <b-form-input
                  id="first"
                  v-model="form.name.first"
                  :state="stateFirstname"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="นามสกุล" label-for="last"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackLastname">
                <b-form-input
                  id="last"
                  v-model="form.name.last"
                  :state="stateLastname"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="e-mail" label-for="e-mail"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackEmail">
                <b-form-input
                  id="e-mail"
                  type="email"
                  v-model="form.email"
                  :state="stateEmail"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
          <b-row class="mb-1">
            <b-col cols="4">
              <b-form-group label="เบอร์โทร" label-for="tell"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :invalid-feedback="invalidFeedbackTell">
                <b-form-input
                  id="tell"
                  v-model="form.tell"
                  :state="stateTell"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <br />
        </form>
      </b-container>
    </b-modal>

    <b-container>
      <br />
      <b-row>
        <b-col>
          <b-input-group style="width: 50%" class="float-right" size="sm">
            <b-input-group-prepend is-text>
              <b-icon icon="search"></b-icon>
            </b-input-group-prepend>
            <b-form-input
              v-model="filter"
              placeholder="ค้นหา ชื่อ / รหัสผู้ใช้"
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="1">
          <b-form-group
            label="แสดง"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="float-right"
          ></b-form-group>
        </b-col>

        <b-col cols="2"
          ><b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
            width="10px"
            class="float-left"
          ></b-form-select>
        </b-col>
        <b-col cols="3">
          <b-form-group
            label="รายการต่อหน้า"
            label-for="per-page-select"
            class="float-left"
          ></b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-table
          class="text-center"
          outlined
          head-variant="dark"
          :items="staffList"
          :fields="fields"
          :filter="filter"
          :current-page="currentPage"
          :per-page="perPage"
          stacked="md"
          show-empty
          small
        >
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>

          <template v-slot:cell(username)="data">
            <div class="text-left">{{ data.item.username }}</div>
          </template>

          <template #cell(name)="data">
            <div class="text-left">
              {{ data.item.name.gender }} {{ data.item.name.first }}
              {{ data.item.name.last }}
            </div>
          </template>

          <template v-slot:cell(email)="data">
            <div class="text-left">{{ data.item.email }}</div>
          </template>

          <template v-slot:cell(tell)="data">
            <div class="text-left">{{ data.item.tell }}</div>
          </template>

          <template v-slot:cell(edit)="data">
            <b-button
              variant="outline"
              @click="editStaff(data.item)"
              v-if="data.item.usability !== 'cancel'"
            >
              <img
                width="20"
                alt="edit button"
                src="../assets/editor-icon.png"
              />
            </b-button>
          </template>

          <template v-slot:cell(cancle)="data">
            <b-button
              variant="outline"
              @click="cancleStaff(data.item)"
              v-if="data.item.usability !== 'cancel'"
            >
              <img
                width="20"
                alt="cancle button"
                src="../assets/cancle icon.png"
              />
            </b-button>

            <b-button
              variant="outline"
              @click="reclaimStaff(data.item)"
              v-if="data.item.usability === 'cancel'"
            >
              <img width="20" alt="reclaim button" src="../assets/icon.png" />
            </b-button>
          </template>
        </b-table>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col cols="9"> </b-col>
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import staffService from './Service/Staff'
export default {
  data () {
    return {
      index: 0,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      filter: null,
      pageOptions: [10, 15, 20, 30, 50, { value: 100, text: 'ทั้งหมด' }],
      title: 'เพิ่มข้อมูลเจ้าหน้าที่',
      nameState: null,
      form: {
        _id: '',
        username: '',
        password: '',
        name: { gender: null, first: '', last: '' },
        email: '',
        tell: '',
        usability: 'use',
        Person_type: 'staff'
      },
      genderOptions: [
        { text: 'กรุณาเลือก', value: null },
        'นาย',
        'นาง',
        'นางสาว'
      ],
      // Note 'isActive' is left out and will not appear in the rendered table
      fields: [
        {
          key: 'index',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'username',
          label: 'username'
        },
        {
          key: 'name',
          label: 'ชื่อ - นามสกุล',
          sortable: true
        },
        {
          key: 'email',
          label: 'อีเมลล์'
        },
        {
          key: 'tell',
          label: 'เบอร์โทร'
        },
        {
          key: 'edit',
          label: 'แก้ไข'
        },
        {
          key: 'cancle',
          label: 'ยกเลิก'
        }
      ],
      staffList: [],
      checkUsername: []
    }
  },
  methods: {
    addNewStaff () {
      this.title = 'เพิ่มข้อมูลเจ้าหน้าที่'
      console.log('Add New Staff')
      this.$bvModal.show('modal-form-staff')
    },
    editStaff (staff) {
      this.title = 'แก้ไขข้อมูลเจ้าหน้าที่'
      this.form = { ...staff }
      this.$bvModal.show('modal-form-staff')
    },
    cancleStaff (staff) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการยกเลิกสิทธ์การเข้าใช้ระบบของ ' +
            staff.name.gender +
            staff.name.first +
            '  ' +
            staff.name.last +
            ' ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'lg',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            staff.usability = 'cancel'
            staffService
              .changeState_to_DB(staff)
              .then(res => {
                this.getStaffs()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    reclaimStaff (staff) {
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการเรียกคืนสิทธิ์การเข้าใช้ระบบของ ' +
            staff.name.gender +
            staff.name.first +
            '  ' +
            staff.name.last +
            ' ใช่หรือไม่ ',
          {
            title: 'กรุณายืนยัน',
            size: 'lg',
            buttonSize: 'mb',
            okVariant: 'success',
            okTitle: 'ใช่',
            cancleVariant: 'danger',
            cancelTitle: 'ไม่ใช่',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            staff.usability = 'use'
            staffService
              .changeState_to_DB(staff)
              .then(res => {
                this.getStaffs()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    getStaffs () {
      staffService
        .getAll_from_DB()
        .then(res => {
          this.staffList = res.data
          this.staffList = this.staffList.sort((a, b) =>
            a.usability < b.usability ? 1 : -1
          )
          this.totalRows = this.staffList.length
        })
        .catch(err => {
          console.log(err)
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        username: '',
        password: '',
        name: { gender: null, first: '', last: '' },
        email: '',
        tell: '',
        usability: 'use',
        Person_type: 'staff'
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validation
      if (
        this.stateUsername === false ||
        this.statePassword === false ||
        this.stateGender === false ||
        this.stateFirstname === false ||
        this.stateLastname === false ||
        this.stateEmail === false ||
        this.stateTell === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        staffService
          .updateStaff_to_DB(this.form)
          .then(res => {
            console.log(res)
            this.getStaffs()
          })
          .catch(err => {
            console.log(err)
          })
        this.getStaffs()
      } else {
        delete this.form._id
        this.form.usability = 'use'
        staffService
          .addNew_to_DB(this.form)
          .then(res => {
            console.log(res)
            this.getStaffs()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-staff')
      })
    }
  },
  computed: {
    stateUsername () {
      return this.form.username.length >= 8
    },
    invalidFeedbackUsername () {
      if (this.form.username.length > 8) {
        return ''
      } else if (this.form.username.length > 0) {
        return 'กรุณากรอก Username อย่างน้อย 8 ตัวอักษร'
      } else if (this.staffList.includes(this.form.username)) {
        return 'Username ซ้ำ'
      } else {
        return ''
      }
    },
    statePassword () {
      return this.form.password.length >= 8
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 8) {
        return ''
      } else if (this.form.password.length > 0) {
        return 'กรุณากรอก Password อย่างน้อย 8 ตัวอักษร'
      } else {
        return ''
      }
    },
    stateGender () {
      return this.form.name.gender !== null
    },
    invalidFeedbackGender () {
      if (this.form.name.gender != null) {
        return ''
      } else {
        return ''
      }
    },
    stateFirstname () {
      return this.form.name.first.length >= 3
    },
    invalidFeedbackFirstname () {
      if (this.form.name.first.length > 3) {
        return ''
      } else if (this.form.name.first.length > 0) {
        return 'กรุณากรอก ชื่อ อย่างน้อย 3 ตัวอักษร'
      } else {
        return ''
      }
    },
    stateLastname () {
      return this.form.name.last.length >= 3
    },
    invalidFeedbackLastname () {
      if (this.form.name.last.length > 3) {
        return ''
      } else if (this.form.name.last.length > 0) {
        return 'กรุณากรอก ชื่อ อย่างน้อย 3 ตัวอักษร'
      } else {
        return ''
      }
    },
    stateEmail () {
      return /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(
        this.form.email
      )
    },
    invalidFeedbackEmail () {
      if (
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(
          this.form.email
        )
      ) {
        return ''
      } else {
        return ''
      }
    },
    stateTell () {
      return this.form.tell.length === 10
    },
    invalidFeedbackTell () {
      if (this.form.tell.length === 10) {
        return ''
      } else if (this.form.tell.length > 0) {
        return 'กรุณากรอก Password อย่างน้อย 8 ตัวอักษร'
      } else {
        return ''
      }
    }
  },
  mounted () {
    this.getStaffs()
  }
}
</script>
