<template>
  <div>
    <br />
    <b-container>
      <b-row>
        <b-col>
          <h4>รายการแจ้งซ่อมที่ต้องดำเนินการซ่อม</h4>
        </b-col>
        <b-col align="right">
          <p>
            {{ account.name.gender }}{{ account.name.first }}
            {{ account.name.last }}
            <img src="../assets/user.png" width="30px" height="40px" />
          </p>
        </b-col>
      </b-row>
      <br />
    </b-container>

    <b-modal
      id="momal-form-repair"
      ref="momal-form-repair"
      size="mb"
      :title="title"
      ok-only
    >
      <b-container fluid>
        <form ref="form">
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="ผู้แจ้งซ่อม" label-for="name">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="anme" v-model="form.user_name" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="วันที่แจ้งซ่อม" label-for="date">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="date" v-model="form.day" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="ชั้น / ห้อง" label-for="room">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="romm" v-model="form.room.room" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="3"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="เครื่องที่" label-for="machOn">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="machOn" v-model="form.mach" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="3"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="อุปกรณ์" label-for="device_name">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input
                id="device_name"
                v-model="form.device.name"
                readonly
              >
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="อาการ" label-for="cause"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-textarea id="cause" v-model="form.cause" readonly>
              </b-form-textarea>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="ภาพประกอบ" label-for="picture">
              </b-form-group>
            </b-col>
            <b-col>
              <img
                style="width: 200px; height: 150px;"
                :src="'http://localhost:3000/images/' + form.picture"
              />
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="สถานะ" label-for="state"> </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="state" v-model="form.status.name" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3"> </b-col>
            <b-col>
              <b-form-input id="change_day" v-model="form.change_day" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="1"></b-col>
            <b-col cols="3">
              <b-form-group label="ผู้รับผิดชอบ" label-for="staff_name">
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-input id="staff_name" v-model="form.staff_name" readonly>
              </b-form-input>
            </b-col>
            <b-col cols="1"></b-col>
          </b-row>
        </form>
      </b-container>
    </b-modal>

    <b-container>
      <b-row>
        <b-col>
          <b-input-group style="width: 50%" class="float-right" size="sm">
            <b-input-group-prepend is-text>
              <b-icon icon="search"></b-icon>
            </b-input-group-prepend>
            <b-form-input
              v-model="filter"
              placeholder="ค้นหา ..."
            ></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="1">
          <b-form-group
            label="แสดง"
            label-for="per-page-select"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            class="float-right"
          ></b-form-group>
        </b-col>
        <b-col cols="2"
          ><b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
            class="float-left"
          ></b-form-select>
        </b-col>
        <b-col cols="3">
          <b-form-group
            label="รายการต่อหน้า"
            label-for="per-page-select"
            class="float-left"
          ></b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-table
          class="text-center"
          outlined
          head-variant="dark"
          :items="repairNotiList"
          :fields="fields"
          :filter="filter"
          :current-page="currentPage"
          :per-page="perPage"
          stacked="md"
          show-empty
          small
        >
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>

          <template #cell(user_name)="data">
            {{ data.item.user_name }}
          </template>

          <template #cell(date_repair)="data">
            {{ moment(data.item.day).format('DD-MM-YYYY') }}
          </template>

          <template #cell(room)="data">
            {{ data.item.room.room }}
          </template>

          <template #cell(name)="data">
            {{ data.item.device.name }}
          </template>

          <template #cell(machine)="data">
            {{ data.item.mach }}
          </template>

          <template #cell(date)="data">
            {{ moment(data.item.change_day).format('DD-MM-YYYY') }}
          </template>

          <template #cell(staff_name)="data">
            {{ data.item.staff_name }}
          </template>

          <template v-slot:cell(status)="data">
            <b-button-group>
              <b-form-select
                v-model="data.item.status._id"
                :options="statusList"
                size="sm"
                @change="onStateChange(data)"
              ></b-form-select>
            </b-button-group>
          </template>

          <template v-slot:cell(cause)="data">
            <b-button variant="link" @click="showDetail(data.item)" size="sm">
              รายละเอียด
            </b-button>
          </template>
        </b-table>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col cols="9"> </b-col>
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import repairService from './Service/Repair'
import statusService from './Service/Status'
import moment from 'moment'
export default {
  data () {
    return {
      index: 0,
      account: JSON.parse(localStorage.getItem('account')),
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      filter: null,
      title: 'รายละเอียด',
      moment: moment,
      pageOptions: [10, 15, 20, 30, 50, { value: 100, text: 'ทั้งหมด' }],
      form: {
        _id: '',
        username: '',
        user_name: '',
        day: '',
        room: '',
        math: '',
        device: '',
        staff_name: '',
        status: '',
        change_day: '',
        picture: '',
        cause: ''
      },
      staffName:
        JSON.parse(localStorage.getItem('account')).name.gender +
        JSON.parse(localStorage.getItem('account')).name.first +
        ' ' +
        JSON.parse(localStorage.getItem('account')).name.last,
      fields: [
        {
          key: 'index',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'user_name',
          label: 'ผู้แจ้ง'
        },
        {
          key: 'date_repair',
          label: 'วันที่แจ้งซ่อม'
        },
        {
          key: 'room',
          label: 'ชั้น/ห้อง',
          sortable: true
        },
        {
          key: 'machine',
          label: 'เครื่องที่',
          sortable: true
        },
        {
          key: 'name',
          label: 'อุปกรณ์'
        },
        {
          key: 'staff_name',
          label: 'ผู้รับผิดชอบ',
          sortable: true
        },
        {
          key: 'date',
          label: 'วันที่'
        },
        {
          key: 'status',
          label: 'สถานะ'
        },
        {
          key: 'cause',
          label: 'หมายเหตุ'
        }
      ],
      repairNotiList: [],
      statusList: []
    }
  },
  methods: {
    getRepair () {
      repairService
        .getAll_from_DB()
        .then(res => {
          this.repairNotiList = res.data
          this.repairNotiList = this.repairNotiList.filter(
            repairUse =>
              repairUse.status._id === '600f58042ff98b2098262a1e' ||
              repairUse.status._id === '6010890d95dd1d25a0cf24f0'
          )
          // this.repairNotiList = list.map(item => ({
          //   ...item,
          //   day: moment(item.day).format('DD-MM-YYYY'),
          //   change_day: moment(item.change_day).format('DD-MM-YYYY')
          // }))
          this.totalRows = this.repairNotiList.length
        })
        .catch(err => {
          console.log(err)
        })
    },
    getStatus () {
      statusService
        .getAll_from_DB()
        .then(res => {
          let status = res.data
          status = status.filter(st => st.usability === 'use')
          this.statusList = status.map(st => ({
            text: st.name,
            value: st._id
          }))
        })
        .catch(err => {
          console.log(err)
        })
    },
    showDetail (Noti) {
      this.form = { ...Noti }
      this.$bvModal.show('momal-form-repair')
    },

    onStateChange (status) {
      status.item.staff_name = this.staffName
      status.item.change_day = moment()
      repairService.changeState_to_DB(status.item)
        .then(res => {
          this.getRepair()
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.getRepair()
    this.getStatus()
  }
}
</script>
