<template>
  <div :style="setting">
    <b-navbar type="dark">
      <b-navbar-brand>
        ระบบแจ้งซ่อมอุปกรณ์โสตทัศนูปกรณ์ คณะวิทยาการสารสนเทศ</b-navbar-brand
      >
    </b-navbar>
  </div>
</template>
<script>
export default {
  data () {
    return {
      setting: {
        backgroundColor: '#0c7cba',
        width: '100%',
        height: '50px',
        padding: '0',
        margin: '0'
      }
    }
  }
}
</script>
