<template>
  <div :style="setting">
    <b-navbar toggleable="lg" type="dark">
      <b-navbar-brand href="#"
        >ระบบแจ้งซ่อมอุปกรณ์โสตทัศนูปกรณ์ คณะวิทยาการสารสนเทศ</b-navbar-brand
      >

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="http://localhost:8080/notification" right>หน้าแรก</b-nav-item>
          <b-nav-item href="http://localhost:8080/repairHistory" right>ประวัติการแจ้งซ่อม</b-nav-item>
          <b-nav-item right @click="logout()">ออกจากระบบ</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
import loginService from '../views/Service/Login'
export default {
  data () {
    return {
      setting: {
        backgroundColor: '#0c7cba',
        width: '100%',
        padding: '0',
        margin: '0'
      }
    }
  },
  methods: {
    logout () {
      loginService.logout()
      console.log('logout')
    }
  }
}
</script>
