<template>
  <b-container fluid>
    <b-row>
      <b-col><Header></Header></b-col>
    </b-row>
    <b-row>
      <b-col><router-view></router-view></b-col>
    </b-row>
  </b-container>
</template>

<script>
import Header from './HeaderStaff'
export default {
  components: {
    Header
  }
}
</script>
