<template>
  <div :style="setting">
    <br />
    <b-row>
      <b-col cols="1"></b-col>
      <b-col cols="3">
        <img
          height="70"
          width="70"
          class="float-left"
          src="../assets/development.png"
        />
      </b-col>
      <b-col>
        <p style="color: white; font-size: 200%" align="center">Admin</p>
      </b-col>
    </b-row>
    <br /><br /><br />
    <b-nav>
      <b-row>
        <b-col cols="1"></b-col>
        <b-col cols="3">
          <img height="45" width="50" src="../assets/home icon.png" />
        </b-col>

        <b-col>
          <b-nav-item>
            <router-link to="/Home">
              <p style="color: white; font-size: 110%" class="float-right">
                หน้าหลัก
              </p>
            </router-link>
          </b-nav-item>
        </b-col>
      </b-row>
      <br />
      <br />
      <br />

      <b-row>
        <b-col cols="1"></b-col>
        <b-col cols="3">
          <img height="45" src="../assets/person.png" />
        </b-col>

        <b-col>
          <b-nav-item>
            <router-link to="/manageStaff">
              <p style="color: white; font-size: 110% ">จัดการเจ้าหน้าที่</p>
            </router-link>
          </b-nav-item>
        </b-col>
      </b-row>
      <br />
      <br />
      <br />

      <b-row>
        <b-col cols="1"></b-col>
        <b-col cols="3">
          <img height="45" src="../assets/pngwing.com.png" />
        </b-col>

        <b-col>
          <b-nav-item>
            <router-link to="/manageDevices">
              <p style="color: white; font-size: 110%">จัดการอุปกรณ์</p>
            </router-link>
          </b-nav-item>
        </b-col>
      </b-row>
      <br />
      <br />
      <br />

      <b-row>
        <b-col cols="1"></b-col>
        <b-col cols="3">
          <img height="45" src="../assets/klipartz.com.png" />
        </b-col>

        <b-col>
          <b-nav-item>
            <router-link to="/manageStatus">
              <p style="color: white; font-size: 110%">จัดการสถานะ</p>
            </router-link>
          </b-nav-item>
        </b-col>
      </b-row>
      <br />
      <br />
      <br />

      <b-row>
        <b-col cols="1"></b-col>
        <b-col cols="3">
          <img height="45" src="../assets/b.png" />
        </b-col>

        <b-col>
          <b-nav-item>
            <router-link to="/manageBuilding">
              <p style="color: white; font-size: 110%">จัดการอาคาร</p>
            </router-link>
          </b-nav-item>
        </b-col>
      </b-row>
      <br />
      <br />
      <br />

      <b-row>
        <b-col cols="1"></b-col>
        <b-col cols="3">
          <img height="40" src="../assets/logout icon.png" />
        </b-col>

        <b-col>
          <b-nav-item>
            <p @click="logout()" style="color: white; font-size: 110%" class="float-right">
              ออกจากระบบ
            </p>
          </b-nav-item>
        </b-col>
      </b-row>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </b-nav>
  </div>
</template>

//
<script>
import loginService from '../views/Service/Login'
export default {
  data () {
    return {
      setting: {
        backgroundColor: '#181818',
        height: '100%',
        weight: '100%'
      }
    }
  },
  methods: {
    logout () {
      loginService.logout()
      console.log('logout')
    }
  }
}
</script>
