<template>
  <div id="app">
    <Main v-if="account === null"></Main>
    <Admin v-if="account && account.Person_type === 'admin'"></Admin>
    <Staff v-if="account && account.Person_type === 'staff'"></Staff>
    <Informer v-if="account && account.Person_type === 'informer'"></Informer>
  </div>
</template>

<script>
import Main from './components/Main'
import Admin from './components/MainLayoutAdmin'
import Staff from './components/MainLayoutStaff'
import Informer from './components/MainLayoutInformer'
export default {
  components: {
    Main,
    Admin,
    Staff,
    Informer
  },
  data () {
    return {
      account: JSON.parse(localStorage.getItem('account'))
    }
  },
  mounted () {
  }
}
</script>
